@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Medium";
    src: local("HankenGrotesk-Medium"),
      url("./Font/HankenGrotesk-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Bold";
    src: local("HankenGrotesk-Bold"),url("./Font/HankenGrotesk-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "ExtraBold";
    src: local("HankenGrotesk-ExtraBold"),url("./Font/HankenGrotesk-ExtraBold.ttf") format("truetype");
  }